/****** Script for SelectTopNRows command from SSMS  
SELECT TOP (1000) [INSERTED_DATE]
      ,[ID_MOVE]
      ,[SENDER_CODE]
      ,[RECEIVER_CODE]
      ,[GOOD_CODE]
      ,[GOOD_DESCR]
      ,[NETTO]
      ,[PRICE]
      ,[TAX]
      ,[STATUS]
      ,[VEHICLE]
      ,[UPDATED_DATE]
  FROM [TRAINING_01].[dbo].[Moves]

  USE [TRAINING_01]
GO
******/
	 GO

