SET IDENTITY_INSERT [dbo].[Agents] ON

GO


SELECT [INSERTED_DATE]
      ,[ID_CONTRAGENT]
      ,[EDRPOU]
      ,[SHORTNAME]
      ,[FULLNAME]
      ,[DIRECTOR]
      ,[CAPITAL]
      ,[FOUNDED]
      ,[COUNTRY_COD]
      ,[PREV_REC]
      ,[UPDATED_DATE]
  FROM [O_SYDOR_MODULE_2].[dbo].[Agents]

SELECT [INSERTED_DATE]
      ,[ID_MOVE]
      ,[SENDER_CODE]
      ,[RECEIVER_CODE]
      ,[GOOD_CODE]
      ,[GOOD_DESCR]
      ,[NETTO]
      ,[PRICE]
      ,[TAX]
      ,[STATUS]
      ,[VEHICLE]
      ,[UPDATED_DATE]
  FROM [O_SYDOR_MODULE_2].[dbo].[Moves]
GO

